/* styles */
.reportAlign{
    border-radius: 5px;
    background-color: var(--light-grey);
    width:70%;
    height: 100%;
    overflow: hidden;
 }

 .reportTitle{
    text-align: center;
    color: var(--black);
}

.reportInputBox, .reportInputBoxLong{
    border-radius: 10px;
    background: var(--main-white);
    border-color: var(--black);
    padding: 10px;
    height: 30px;
    margin-left: 10px;
}

.reportInputBox {
    width: 200px;
}

.reportInputBoxLong{
    width: 500px;
}

.reportBtn{
    margin-left: 430px;
    margin-top: 30px;
    background-color: var(--main-accent);
    color: var(--main-white);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}

.columnGap{
    column-gap: 1px;
    margin-top: 10px;
}