.header {
  color: var(--black);
  width: 100%;
  height: 35vh;
}
.mid {
  color: var(--black);
  background-color: var(--main-white);
  width: 100%;
  height: 45vh;
}
.footer {
  color: var(--black);
  text-align: center;
  width: 100%;
  height: 30vh;
}

.landingHeader {
  padding-top: 3.5rem;
  font-size: 3rem;
}

.landingSub {
  padding-top: 1.5rem;
  font-size: 2rem;
}
.landingHeader:last-of-type,
.landingSub:last-of-type {
  padding-top: 0;
  margin-top: 0;
}

.landingImg {
  height: 25.5vh;
  width: auto;
  display: block;
  margin: 2rem auto;
}

.phoneImg{
  margin-top: 2.5rem;
  height: 35vh;
}

.footer p {
  padding-top: 2.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.cancel,
.checkIn,
.reserve {
  width: 26rem;
  color: var(--main-white);
  display: inline-block;
  border-radius: 25px;
  padding: .5rem 1rem;
  border: none;
  font-size: 2rem;
  font-weight: 300;
}
.reserve {
  width: 35rem;
  background-color: var(--main-accent);
}
.reserve:hover {
  background-color: var(--main-accent);
  color: var(--black);
}
.cancel {
  background-color: var(--red);
  margin-right: 7rem;
}
.cancel:hover {
  background-color: var(--dark-red);
}
.checkIn {
  background-color: var(--green);
}
.checkIn:hover {
  background-color: var(--dark-green);
}
