/* styles */
.checkAlign {
  border-radius: 5px;
  background-color: var(--light-grey);
  width: 70%;
  height: max-content;
  overflow: hidden;
}

.checkTitle {
  text-align: center;
  color: var(--black);
}

.contains {
  margin-left: 8rem;
}

.checkInputBox {
  border-radius: 10px;
  background: var(--main-white);
  border-color: var(--black);
  padding: 10px;
  width: 500px;
  height: 30px;
  margin-left: 10px;
}

.checkBtn, .checkOutBtn {
  width: max-content;
  background-color: var(--main-accent);
  color: var(--main-white);
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.checkOutBtn {
  background-color: var(--red);
}

.columnGap {
  column-gap: 1px;
  margin-left: 200px;
  margin-top: 10px;
  margin-left: 200px;
}

.reserveBtn {
  width: max-content;
  background-color: var(--main-accent);
  color: var(--main-white);
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 900px){
  .contains{
    margin-left: 4rem;
  }
 }

@media only screen and (max-width: 600px){
 .contains{
   margin-left: 0rem;
 }
}
